@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

body {
    background: #366b6b;
    font-size: 14px;
    line-height: 22px;
    color: #444444;
}

a{
    text-decoration: none ;
    color: #b1eaff;
}

h1 {
    font-weight: 700;
    font-size: 25px;
    text-transform: uppercase;
    color: #444444
}

h2 {
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
}

pre{
    font-size: 12px;
    color: #009fd9;
    border: solid #0bb5f4;
    border-radius: 30px;
    padding: 20px 10px 0px 20px;
}
.semi_bold{
    font-weight: 500;
    font-style: 16px;
}

.header{
    display: flex;
    width: 800px;
    margin: 0 auto;
    height: 80px;
    padding: 10px;
    background: #5c5c5c;
}

.resume{
    width: 800px;
    height: auto;
    display: flex;
    margin: auto;
}

.resume .resume_left{
    width: 280px;
    background: #0bb5f4;
}

.resume .resume_left .resume_profile{
    width: 100%;
    height: 280px;
}

.resume .resume_left .resume_profile img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.resume .resume_left .resume_content{
    padding: 0 25px;
}

.resume .title{
    margin-bottom: 20px;
}

.resume .resume_left .bold{
    color: #fff;
}

.resume .resume_left .regular{
    color: #b1eaff;
}

.resume .resume_item{
    padding: 25px 0;
    border-bottom: 2px solid #b1eaff;
}

.resume .resume_left .resume_item:last-child,
.resume .resume_right .resume_item:last-child{
    border-bottom: 0px;
}

.resume .resume_left ul li{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.resume .resume_left ul li:last-child{
    margin-bottom: 0;
}

.resume .resume_left ul li .icon{
    width: 35px;
    height: 35px;
    background: #fff;
    color: #0bb5f4;
    border-radius: 35%;
    margin-right: 15px;
    font-size: 16px;
    position: relative;
}

.resume .icon i,
.resume .resume_right .resume_work ul li i,
.resume .resume_right .project ul li i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.resume .resume_left ul li .data{
    color: #b1eaff;
}

.resume .resume_left .resume_skills ul li{
    color: #b1eaff;
    justify-content: space-between;
}

.resume .resume_left .resume_skills ul li .skill_name{
    width: 50%;
}

.resume .resume_left .resume_skills ul li .skill_progress{
    width: 75%;
    margin: 0 5px;
    height: 5px;
    background: #009fd9;
    position: relative;
}

.resume .resume_left .resume_skills ul li .skill_per{
    width: 15%;
}

.resume .resume_left .resume_skills ul li .skill_progress span{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #fff;
}

.resume .resume_right{
    width: 520px;
    background: #fff;
    padding: 25px;
}

.resume .resume_right h2{
    color: #0bb5f4;
}



.resume .resume_right .resume_english_level ul,
.resume .resume_right .resume_education ul,
.resume .resume_right .project ul{
    padding-left: 40px;
    overflow: hidden;
}

.resume .resume_right ul li{
    position: relative;
}

.resume .resume_right ul li .date{
    font-style: 16px;
    font-weight: 500;
    margin-bottom: 15px;
}

.resume .resume_right ul li .info{
    margin-bottom: 20px;
}

.resume .resume_right ul li:last-child .info{
    margin-bottom: 0;
}

/*****************/

.resume .resume_right .resume_education ul li:before,
.resume .resume_right .resume_english_level ul li:before,
.resume .resume_right .project .project_subtitle ul li:before{
    content: "";
    position: absolute;
    top: 5px;
    left: -25px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    border: 2px solid #0bb5f4;
}


.resume .resume_right .resume_education ul li:after{
    content: "";
    position: absolute;
    top: 14px;
    left: -21px;
    width: 2px;
    height: 113%;
    background: #0bb5f4;
}


/****** Project *******/


.project{
    display: flex;
    justify-content: space-between;
}


.resume .resume_right{
    width: 520px;
    background: #fff;
    padding: 25px 25px 0 25px;
}

.project_img{
    
    width: 250px;
    height: 150px;
    color: #009fd9;
    border: solid #0bb5f4;
    border-radius: 30px;
}

/*************/


/****** footer *******/

.footer{
    display: flex;
    width: 800px;
    margin: -60px auto 0;
    height: 80px;
    position: relative;
    padding: 10px;
    background: #0bb5f4;
}

.footer .footer_wrapper,
.header_wrapper{
    width: 100%;
    padding: 20px;
    margin: 0 auto;
    
}

.footer .footer_wrapper ul,
.header_wrapper ul{
    display: flex;
    justify-content: space-between;
}

.footer .footer_wrapper ul li,
.header_wrapper ul li{
    width: 50px;
    margin: 0 auto;
}

.footer .footer_wrapper ul li .youtube img {
    width: 30px;
}


